html{
color:#000;background:#FFF
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
margin:0;padding:0
}
table{
border-collapse:collapse;border-spacing:0
}
fieldset,img{
border:0
}
address,caption,cite,code,dfn,em,strong,th,var{
font-style:normal;
font-weight:normal
}
li{
list-style:none
}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
del,ins{text-decoration:none}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif}
table{font-size:inherit;font:100%}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
body{text-align:center}
#ft{clear:both}
#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px}
#doc2{width:73.076em;*width:71.25em}
#doc3{margin:auto 10px;width:auto}
#doc4{width:74.923em;*width:73.05em}
.yui-b{position:relative}
.yui-b{_position:static}
#yui-main .yui-b{position:static}
#yui-main,.yui-g .yui-u .yui-g{width:100%}{width:100%}
.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em}
.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em}
.yui-t1 .yui-b{float:left;width:12.30769em;*width:12.00em}
.yui-t1 #yui-main .yui-b{margin-left:13.30769em;*margin-left:13.05em}
.yui-t2 .yui-b{float:left;width:13.8461em;*width:13.50em}
.yui-t2 #yui-main .yui-b{margin-left:14.8461em;*margin-left:14.55em}
.yui-t3 .yui-b{float:left;width:23.0769em;*width:22.50em}
.yui-t3 #yui-main .yui-b{margin-left:24.0769em;*margin-left:23.62em}
.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.50em}
.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.55em}
.yui-t5 .yui-b{float:right;width:18.4615em;*width:18.00em}
.yui-t5 #yui-main .yui-b{margin-right:19.4615em;*margin-right:19.125em}
.yui-t6 .yui-b{float:right;width:23.0769em;*width:22.50em}
.yui-t6 #yui-main .yui-b{margin-right:24.0769em;*margin-right:23.62em}
.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0}
#yui-main .yui-b{float:none;width:auto}
.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right}
.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first{
float:left
}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{
width:49.1%
}
.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{
width:32%;margin-left:1.99%
}
.yui-gb .yui-u{
*margin-left:1.9%;*width:31.9%
}
.yui-gc div.first,.yui-gd .yui-u{
width:66%
}
.yui-gd div.first{
width:32%
}
.yui-ge div.first,.yui-gf .yui-u{
width:74.2%
}
.yui-ge .yui-u,.yui-gf div.first{
width:24%
}
.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{
margin-left:0
}
.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{
width:49%;
*width:48.1%;
*margin-left:0
}
.yui-g .yui-g .yui-u{
width:48.1%
}
.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{
*margin-right:0;
*width:32%;
_width:31.7%
}
.yui-g .yui-gc div.first,.yui-gd .yui-g{
width:66%
}.yui-gb .yui-g div.first{
*margin-right:4%;
_margin-right:1.3%
}
.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{
*margin-right:0
}
.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{
*margin-left:1.8%;
_margin-left:4%
}
.yui-g .yui-gb .yui-u{
_margin-left:1.0%
}.yui-gb .yui-gd .yui-u{
*width:66%;
_width:61.2%
}.yui-gb .yui-gd div.first{
*width:31%;
_width:29.5%
}
.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{
width:32%;
_float:right;
margin-right:0;
_margin-left:0
}
.yui-gb .yui-gc div.first{
width:66%;
*float:left;
*margin-left:0
}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{
margin:0}
.yui-gb .yui-gb .yui-u{
_margin-left:.7%}
.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{
*margin-left:0
}
.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{
*width:48.1%;
*margin-left:0
}
.yui-gb .yui-gd div.first{
width:32%
}
.yui-g .yui-gd div.first{
_width:29.9%
}
.yui-ge .yui-g{
width:24%
}.yui-gf .yui-g{
width:74.2%
}
.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{
float:right
}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{
float:left
}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{
*width:24%;
_width:20%
}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{
*width:73.5%;
_width:65.5%
}
.yui-ge div.first .yui-gd .yui-u{
width:65%
}
.yui-ge div.first .yui-gd div.first{
width:32%
}
#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden
}
#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{
zoom:1
}
div.top-announcement div.body,div#new-comment-container,div.additional-thumbs,div#comments,div.panel,div#post,.rounded,.odd{
-moz-border-radius:4px;
-webkit-border-radius:4px
}
ul#follow-me{
display:block
}
ul#follow-me li{
float:left;
padding-top:1px;
margin-right:4px
}
ul#follow-me li.facebook{
padding-top:0;
padding-left:2px
}
ul#follow-me li.facebook iframe{
border:none;
overflow:hidden;
width:90px;
height:25px
}
ul#follow-me li.last p{
margin-left:4px;
margin-top:2px;
color:#444;
font-weight:bold;
font-size:11px;
width:130px
}
ul#main-nav{
float:right;
display:block
}
ul#main-nav li{
display:inline
}
ul#main-nav li.submit{
margin-right:0
}
ul#footer-nav li{
display:inline;
margin:10px
}
html{
background:#fff
}
h1.hidden{
text-indent:-9999999px;
display:none
}
h2.header{
color:#b04d06;
font-size:18px;
border-bottom:1px solid #ccc;
margin-bottom:10px
}
p{
margin-bottom:1.6em
}
strong{
font-weight:bold
}
em{
font-style:italic
}
.center{
display:block;
text-align:center
}
div.leaderboard{
background:#fff url(/images/iab/leaderboard-bg.gif?1340347442) no-repeat center center;
width:728px;
height:90px;
margin:10px auto
}
div#top-leaderboard{
padding:0;
clear:both;
margin:auto;
margin-top:3px
}
div.iab-rectangle{
background:url(/images/iab/medium-rectangle-bg.png?1340347442) no-repeat center center;
width:322px;
height:277px;
position:relative
}
div.secondary div.iab-rectangle{
margin-top:15px;
margin-bottom:15px
}
div.network{
background:#f0f0f0;
border-bottom:1px solid #ddd;
color:#444
}
div.network .container{position:relative;width:940px;margin:auto;text-align:left}
div.network img{padding:5px}
div.network ul{position:absolute;right:205px;top:12px;width:530px;height:17px;display:block;overflow:hidden;text-align:right}
div.network ul li{display:inline;border-right:1px solid}
div.network li.last,div.network li.last a{border:none;padding-right:0}
div.network div.iphone-app{position:absolute;right:0;top:12px}
div.network div.iphone-app a{text-transform:uppercase;padding-left:20px;background:url(/images/iphone-icon.png?1340347442) 0 3px no-repeat}
div#custom-doc{position:relative;width:940px}
div#hd{margin-top:15px;padding-bottom:25px}
div.index #hd{margin-bottom:8px}
div#hd-left{float:left;width:205px;text-align:center}
div#hd-right{height:90px;width:728px;margin-left:1px;float:left}
div#bd{position:relative}div#bd .yui-g{clear:both}
#bd div.main{float:left;width:612px}
#bd div.secondary{float:right;margin-left:20px;width:308px}
.clearer{clear:both;height:1px}
body .hidden{display:none!important}
div.post div.interactive-block{width:540px;position:absolute;right:0;bottom:5px;color:#aaa}
div.post div.interactive-block li{display:inline-block}
div.post div.interactive-block li.current-value{width:150px;display:inline-block;position:relative}
div.post div.interactive-block img.spinner{position:absolute;bottom:-2px;left:-12px;background:#fff;padding-right:150px}
div.post div.interactive-block span.comments{position:absolute;right:0;bottom:0;font-weight:normal;font-size:11px}
div.post div.interactive-block a.add-comment{font-weight:normal;position:absolute;right:0;bottom:0;color:#aaa;font-size:11px}
div.post ul.share-and-comment{
position:absolute;
right:25px;
bottom:0;
width:400px}
div.post ul.share-and-comment li.twitter{
position:absolute;
top:0;left:0
}
div.post ul.share-and-comment li.facebook-share{
position:absolute;
top:0;
left:22px
}
div.post div.interactive-block li.facebook iframe{overflow:hidden;width:85px;height:25px;border:none;position:absolute;top:-2px;left:45px}
div.post ul.share-and-comment li.twitter,div.post ul.share-and-comment li.facebook-share,div.post ul.share-and-comment li.facebook{opacity:.8}
div.post ul.share-and-comment li.twitter:hover,div.post ul.share-and-comment li.facebook-share:hover,div.post ul.share-and-comment li.facebook:hover{
opacity:1;
-webkit-transition:300ms
}
div.rate-post-controller{margin-left:px;float:left;display:block;width:200px}
.rate-post-controller p.current-value{margin-left:10px;vertical-align:top;margin:0;text-align:center}
.rate-post-controller .spinner{margin-top:5px;margin-left:12px;margin-bottom:5px;padding-right:130px}
ul.already-voted{pointer-events:none}
ul.already-voted .text,ul.already-voted img{
opacity:.4
}
span.positive{color:#008c03}
span.negative{color:#870000}
div.add-comment div,div.new-post div{position:relative}
div.new-post .section{margin-bottom:20px}
div.new-post p.tos{padding-top:13px}
div.add-comment form textarea,div.new-post form textarea{line-height:1.6em;margin-bottom:8px;background:#fff}
div.add-comment input.submit,div.new-post input.submit{border:none;background:#efa248;cursor:pointer;-webkit-transition:300ms}
div.add-comment input.submit[disabled],div.new-post input.submit[disabled]{background:#f0f0f0;color:#cbcccd;pointer-events:none}
div.add-comment input.submit{right:8px}div.add-comment input.submit:hover,div.new-post input.submit:hover{background:#fbdc69}
div.add-comment input.submit:active,div.new-post input.submit:active{background:#a7de6d}
div.new-post #post_body,div.add-comment #comment_body{float:left;width:290px;height:250px}div.new-post #post_body{height:300px}div.new-post #recaptcha,div.add-comment #recaptcha{float:right}
div.new-post #recaptcha{width:310px}
.new-post .submit,div.add-comment #comment_submit{margin-top:17px;width:300px;height:40px}
.new-post .submit{margin-top:0}div.pagination{font-size:13px;text-align:right;margin-bottom:10px}
div.pagination .disabled{display:none}
div.pagination a,span.gap{padding:2px;color:#a94b12}
div.pagination span.current{color:#444;font-weight:bold}
div.pagination a.next_page,div.pagination a.prev_page{
color:#fff;
font-size:11px;
background:#a94b12;
padding:4px 10px;
-moz-border-radius:4px;
-webkit-border-radius:4px
}
div.pagination a:hover{
color:#444;
text-decoration:none
}div.pagination a.next_page:hover,div.pagination a.prev_page:hover{
color:#fff;
background:#444;
text-decoration:none
}
div.main div.post{
margin-bottom:18px
}
div.post{
position:relative
}
div.post h3{
font-size:13px
}
div.individual .post h3{
font-size:20px;
padding-top:10px;
padding-bottom:10px
}
div.post .bubble{
position:relative;
padding-top:6px;
background:url(../images/bubble-top.png) no-repeat left top;
padding-bottom:10px

}
div.post .content{
background:#f0f0f0;
margin-bottom:0;
line-height:1.3em;
padding-right:10px;
padding-left:10px}
div.post .content a{
display:block;
padding-bottom:10px;
font-weight:normal;
width:100%;
padding-top:10px}
div.post .bubble span.bottom{
display:block;
height:28px;
background:url(../images/bubble-bottom.png) no-repeat left bottom
}
div.add-comment{position:relative}
div.add-comment form input#post_submit{
position:absolute;bottom:0;right:0
}
div.add-comment #recaptcha_widget_div{margin-left:0}
div.individual div.post-hd{
position:relative;margin-top:0;margin-bottom:10px}
div.individual ul.post-nav{text-align:right;clear:both}
div.individual ul.post-nav li{
display:inline}
div.individual .section{margin-top:20px}
div.individual div.post{position:relative;margin-bottom:15px;overflow:hidden}
div.individual div.post-hd h2.header{border:none}div.individual .post p.content{font-size:17px;font-family:Verdana,sans-serif;padding-top:10px;padding-bottom:10px}div.view-comments{position:relative;padding-bottom:45px}div.view-comments div.pagination{position:absolute;bottom:0;right:0}div.view-comments ul.comments>li{display:block;clear:both;overflow:hidden;padding:10px}
div.view-comments ul.comments>li.even{background:#f0f0f0}div.view-comments ul.comments>li small{vertical-align:bottom;font-size:9px;float:}div.rate-comment-controller{position:relative}div.rate-comment-controller ul{margin-top:5px}div.rate-comment-controller ul li{display:inline;color:#7d7d7d;font-size:12px}div.rate-comment-controller ul li.current-value{position:relative;display:inline-block;width:150px}div.rate-comment-controller img.spinner{position:absolute;bottom:0;left:0;background:#fff;padding-left:5px;padding-right:150px}div.rate-comment-controller ul li.text{margin-right:5px}div.individual ul.comments-nav{position:absolute;right:-5px;top:3px}div.individual ul.comments-nav li{display:inline}.fieldWithErrors{background-color:#d41019;margin-bottom:10px}#errorExplanation{width:595px;border:2px solid #d41019;padding:7px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0}#errorExplanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;background-color:#c00;color:#fff}#errorExplanation p{margin-top:20px}#errorExplanation ul{padding:15px}#errorExplanation ul li{font-size:12px;list-style:square;list-style-position:inside}div#ft{margin-top:15px;padding-bottom:20px;text-align:center}#horsehead img{margin-bottom:2em}div#ft-nav{margin-top:30px}div#ft a:link,div#ft a:visited,div#new-ft a:link,div#new-ft a:visited{font-size:11px;color:#a94b12}div#ft a:hover{text-decoration:underline;color:#000}div#ft ul.text-network{margin-bottom:25px}div#ft ul.text-network li.text{font-weight:bold;padding-right:20px}div#ft ul.text-network li{display:inline;padding-right:20px}div.login{margin:30px auto auto;width:300px;background-color:#fffeff}div.login label{font-size:25px}div.login input{margin-top:10px;font-size:20px;padding:5px}img.sticky-icon{float:left}div.top-announcement{overflow:hidden;margin-bottom:10px;margin-top:8px}div.top-announcement div.body{position:relative;background:#fdfccf;width:860px;float:right}div.top-announcement div.content{width:90%;font-size:11px;margin:5px auto auto;padding-top:8px}div.top-announcement div.content p{margin-bottom:0;line-height:1.3em}div.panel{position:relative;padding:15px;background:#f6f6f6}div.panel h2{font-weight:bold;font-size:22px;margin-bottom:1em}div.panel h3{font-weight:bold;font-size:14px;margin-bottom:1em}div#tos h3{font-size:1.5em;margin-top:2em;margin-bottom:.5em;text-transform:uppercase}div#tos ul{margin-top:2em;margin-bottom:2em}div#tos ul ul{margin-left:1em}div#tos li{margin-top:1em;margin-bottom:1em}div.marketgrid{background-color:#f6f6f6;width:870px;margin:auto;padding-top:13px;padding-left:7px;margin-bottom:13px}div.marketgrid table td{width:110px;margin-bottom:0;margin-right:16px;margin-left:16px}div.marketgrid img{border:1px solid #000}div.marketgrid a.mctitle{display:block;padding-top:3px;width:110px}div.marketgrid p{display:none}div.secondary div.network-photos{clear:both}div.secondary ul.network-thumbs>li{display:block;float:left;width:145px;margin-bottom:15px;text-align:center}div.secondary ul.network-thumbs>li.left{margin-right:18px}div.secondary ul.network-thumbs>li.right{margin-right:0}div.secondary ul.network-thumbs>li img.network-random{height:145px;width:145px;opacity:.85;-webkit-transition:opacity 300ms}div.secondary ul.network-thumbs>li img.network-random:hover{opacity:1}div.secondary ul.network-thumbs>li a{padding:0}#bd div.secondary .section{margin-bottom:20px}div.network-text li,div.copy span{font-family:Verdana,Arial;font-size:11px;line-height:1.6em}div.network-text li p{text-align:;margin-bottom:5px}div.network-text li p.via{margin-bottom:18px}div.flash_notice{padding:10px;background-color:#fceead;font-size:15px;margin-bottom:20px}div.flash_error{padding:10px;background-color:#b3696d;font-size:15px;margin-bottom:20px}ul.comments-nav li a,ul.comments-nav li a:visited{padding:5px 25px;background:#d3d5d5;color:#5e5e5e;position:relative;text-transform:uppercase;text-decoration:none;font-size:10px;font-weight:normal;margin-right:5px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px}ul.comments-nav li.active a,ul.comments-nav li.active a:visited{background:#5e5e5e;color:#fff;pointer-events:none}ul.comments-nav li a:hover{background:#5e5e5e;color:#fff}a.facebook-icon{background:url(/images/sharing/facebook.png) no-repeat left;padding-left:20px}a.twitter-icon{background:url(/images/sharing/twitter.png) no-repeat left;padding-left:20px}ul.post-nav li a:link,ul.post-nav li a:visited,ul#main-nav li a:link,ul#main-nav li a:visited{padding:5px 25px;background:#444;position:relative;text-transform:uppercase;text-decoration:none;color:#fff;font-size:10px;font-weight:normal;margin-right:5px;-moz-border-radius:4px;-webkit-border-radius:4px}ul.post-nav li a:link,ul.post-nav li a:visited,ul#main-nav li.submit a,ul#main-nav li.submit a:visited{background-color:#aa4b13}ul.post-nav li a:hover,ul#main-nav li.submit a:hover{background-color:#444}ul#main-nav li.active a,ul#main-nav li a:hover{background:#aa4b13}.network a:link,.network a:visited{padding:10px;color:#a94b12;font-weight:bold;text-transform:uppercase;font-size:10px}.network a:hover{color:#444;text-decoration:none}div.network-text p.text>a:link,div.network-text p.text>a:visited{font-weight:normal}div.network-text p.via>a:link,div.network-text p.via>a:visited{color:#b04d06;font-size}a:link,a:visited{color:#191919;font-weight:bolder;text-decoration:none}a:hover{color:#5e5e5e;-webkit-transition:300ms}